<h1>Enter in a sentence and then wait for your new sentence!</h1>
<form action='/result' method='get'>
  <div class="form-group">
  <label>Enter in a sentence:</label>
    <input id="words" name="words" class="form-control" type="text">
  <label>What word do you want to replace?</label>
    <input id="replace_word" name="replace_word" class="form-control" type="text">
  <label>What's your new word?</label>
    <input id="new_word" name="new_word" class="form-control" type="text">
  </div>
<button type="submit" class="btn btn-success">Enter</button>
</form>
